<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Vanilla JS Frontend Interview</title>
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a href='#'>Home</a>
                </li>
                <li>
                    <a href='#'>Open Sidebar</a>
                </li>
                <li>
                    <a href='#'>Change Theme</a>
                </li>
            </ul>
        </nav>
        <h1>Todos</h1>
    </main>
</body>

</html>